<% posts.each do |post| %>
  <div class="card w-50 mx-auto mt-4 post-list">
    <div class="card-header bg-white d-flex align-items-center">
     <%= render 'shared/member_summary', member: post.member %>
    </div>

    <%= image_tag post.get_image(600, 500), alt: "投稿画像", class: "card-img-top", style: "max-height: 500px; object-fit: cover;" %>
    
    <div class="card-body">
      <h4 class="card-title"><%= post.title %></h4>
      <p class="card-text">投稿の種類：<%= post.genre.present? ? post.genre.name : "未選択" %></p>
      <p class="card-text"><%= post.body %></p>
      <div class="text-end">
        <%= link_to "コメントはこちら", post_path(post), class: "btn btn-success btn-sm" %>
      </div>
    </div>
  </div>
<% end %>