<div class="border-bottom mt-4">
  <div class="container">
    <div class="w-75 mx-auto title-responsive-md">
      <h2 class="mb-4">投稿を編集する</h2>
    </div>
  </div>
</div> 

<div class="container mt-5">
  <div class="w-75 mx-auto content-responsive-md"> 
    <%= render 'shared/form_error_messages', object: @post %>
    <%= form_with model: @post do |f| %>
      <%= render 'form_fields', f: f, genres: @genres, post: @post %>
      <div class="d-flex justify-content-center gap-5 mt-4 mb-5">
        <%= f.submit "更新する", class: "btn btn-success mx-auto d-block btn-lg mb-5 responsive-btn" %>
        <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger mx-auto d-block btn-lg mb-5 responsive-btn" %>
      </div>
    <% end %>
  </div>
</div>
