<nav class="navbar border-bottom mt-4">
  <div class="container">
    <div class="navbar-header mb-4">
      <h2>投稿を探す</h2>
    </div>
  </div>
</nav> 

<div class="card-list-container py-5">
  <% @posts.each do |post| %>
  <div class="card w-50 mx-auto mt-4">
    <div class="card-header bg-white d-flex align-items-center">
      <%= link_to member_path(post.member), class: "text-decoration-none link-dark d-flex align-items-center" do %>  
        <%= image_tag post.member.get_profile_image(50, 50), alt: "プロフィール画像", class: "rounded-circle me-3" %> 
        <span><%= post.member.name %></span>
      <% end %> 
    </div>
    <%= image_tag post.get_image(600, 500), alt: "投稿画像", class: "card-img-top", style: "max-height: 500px; object-fit: cover;" %>
    <div class="card-body">
      <h4 class="card-title"><%= post.title %></h4>
      <p class="card-text"><%= post.body %></p>
    </div>
  </div>
  <% end %>
</div>

<%= paginate @posts %>
