<div class="border-bottom mt-4">
  <div class="container w-75">
    <h2 class="mb-4">投稿を書く</h2>
  </div>
</div>  

<div class="containar mt-5 px-3 px-md-4">
  <div class="w-75 mx-auto">
    <%= render 'shared/form_error_messages', object: @post %>
    <div class="post-new-container">
      <%= form_with model: @post do |f| %>
        <h4 class="mb-3">投稿画像（任意）</h4>
        <%= f.file_field :image, accept: "image/*" %>
        <h4 class="mb-3 mt-4">タイトル</h4>
        <%= f.text_field :title, placeholder:"タイトル名", class: "form-control form-control-lg" %>
        <h4 class="mb-3 mt-4">投稿内容</h4>
        <%= f.text_area :body, rows: 20, placeholder:"投稿には、年代や病気の分類などを記載いただくと、同じ境遇の方にとってより参考になります。", class: "form-control form-control-lg" %><br/>
        <h4 class="mb-3 mt-4">内容の種類(任意)</h4>
        <div class="d-flex flex-wrap gap-3 mb-4 genre-options">
          <% Genre.all.each do |genre| %>
            <label class="genre-check">
              <%= radio_button_tag 'post[genre_id]', genre.id, @post.genre_id == genre.id %>
              <span><%= genre.name %></span>
            </label>
          <% end %>
        </div>
        <%= f.submit "投稿", class: "btn btn-success btn-lg mx-auto d-block mb-5  responsive-btn" %>
      <% end %>
    </div>
  </div>
</div>
