<section class="inner">
  <h2 class="section-ttl"><%= @member.name %>さんのマイページ</h2>
	<table class="customer_info">
	  <thead>
	    <th></th>
		<th></th>
		<th></th>
	  </thead>
	  <tbody>
	    <tr>
	      <td>登録ID</td>
    	  <td colspan="2"><%= @member.id %></td>
	    </tr>
	    <tr>
    	  <td>名前</td>
    	  <td colspan="2"><%= @member.name %></td>
	    </tr>
        <tr>
    	  <td>メールアドレス</td>
    	  <td colspan="2"><%= @member.email %></td>
	    </tr>
        <tr>
    	  <td>プロフィール画像</td>
    	  <td colspan="2"><%= image_tag @member.get_profile_image(50,50), class: "rounded-circle me-3" %></td>
	    </tr>
	    <tr>
    	  <td>プロフィール文</td>
    	  <td colspan="2"><%= @member.self_introduction %></td>
	    </tr>
	    <tr>
    	  <td>投稿一覧</td>
    	  <td colspan="2">
            <% @member.posts.each do |post| %>
              <%# <li><%= link_to post.title, admin_post_path(post) %></li>
            <% end %>
          </td>  
	    </tr>
        <tr>
          <td colspan="2">
            <%= button_to 'メンバーを削除する', admin_member_path(@member), method: :delete, data: { confirm: "このメンバーのアカウントを削除します。\n削除前に登録メールアドレスへ管理者から直接連絡してください。\n連絡済みであることをご確認の上、続行してください。" }, class: "btn btn-danger" %>
          </td>
        </td>
	  </tbody>
    </table>
</section>



