<% comments.each do |comment| %>
  <div class="d-flex flex-column flex-md-row border-bottom align-items-start justify-content-between py-3 gap-2">
    <div class="d-flex flex-column w-100">
      <%= link_to member_path(comment.member), class: "text-decoration-none link-dark d-flex align-items-center mb-2 me-3" do %>
        <%= image_tag comment.member.get_profile_image(35,35), alt: "プロフィール画像", class: "rounded-circle me-2" %>
        <span class="text-nowrap"><%= comment.member.name %></span>
      <% end %>
      <div class="mb-0 ms-3 text-break"><%= simple_format(h(comment.comment_body)) %></div>
      <div class="d-flex justify-content-end small">
        投稿日：<%= l(comment.created_at, format: :short) %>
      </div>
      <% if comment.member == current_member %>
        <div class="d-flex justify-content-end mt-2">
          <%= link_to "削除", post_comment_path(comment.post, comment),data: { confirm: "本当に削除してもよろしいですか？" }, method: :delete, remote: true, class: "btn btn-outline-danger btn-sm text-nowrap" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>