<h1>マイページを編集する</h1>
<% if @member.errors.any? %>
  <p class="error-header">入力内容に不備があるようです。</p>
  <ul>
    <% @member.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="profile-edit-container">
  <%= form_with model: @member, url: update_profile_path, method: :patch do |f| %>
    <h4>プロフィール画像（任意）</h4>
    <%= f.file_field :image, accept: "image/*" %>
    <h4>名前</h4>
    <%= f.text_field :name, placeholder:"ニックネーム（自由記入）" %>
    <h4>自己紹介内容</h4>
    <%= f.text_area :body, rows: 10, placeholder:"年代や病気の分類などを記載いただくと、同じ境遇の方にとってより参考になります。
趣味や生活の工夫、健康のことなども、ご自由にお書きください。※安全のため、住所やお名前など、個人が特定される内容は記載しないようお願いいたします。
" %><br/>
    <%= f.submit "変更内容を送信"%>
  <% end %>
</div>
