<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-lg-6 col-xl-5">
      <h3 class="text-center mb-4 session-heading">
        <span>登録された方はこちらから</span>
      </h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-4">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, placeholder: "xxxx@docomo.ne.jp", autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
        </div>
        <div class="mb-4">
          <%= f.label :password, "パスワードを入力" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>
        </div>
        <div class="mb-4">
          <%= f.submit "マイページに入る", class: "btn btn-success btn-lg w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

