<!DOCTYPE html>
<html>
  <head>
    <title>つながり広場</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c4e027a92c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if member_signed_in? %>
      <div class="layout">
        <div class="row">
          <div class="col-md-2 d-none d-md-block vh-100 sidebar-left border-end">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="col-md-10 main-right">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render 'layouts/header' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    <% end %>
  </body>
</html>