<!DOCTYPE html>
<html>
  <head>
    <title>つながり広場</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c4e027a92c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if member_signed_in? && current_member.guest? %>
      <%= render 'layouts/guest_header' %>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    <% elsif member_signed_in? %>
      <div class="layout">
        <div class="row">
          <div class="col-xl-3 d-none d-xl-block sidebar-left border-end">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="col-xl-9 col-12">
            <div class="d-xl-none mb-2">
              <%= render 'layouts/hamburger_menu' %>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    <% end %>
  </body>
</html>